<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
        <dict>
            <key>items</key>
            <array>
                <dict>
                    <key>assets</key>
                    <array>
                        <dict>
                            <key>kind</key>
                            <string>software-package</string>
                            <key>url</key>
                            <string>https://archive.org/download/hill-climb-2-kamohacks-1.55.3-1680335572/Netflix%20VIP%20_1.0.5_1680335563.ipa</string>
                        </dict>
                        <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://archive.org/download/e-2-b-093-c-9-2560-4358-a-960-0-c-8474-cdf-8-a-0/E2B093C9-2560-4358-A960-0C8474CDF8A0.jpeg</string>
                        </dict>
                    </array>
                    <key>metadata</key>
                    <dict>
                        <key>bundle-identifier</key>
                        <string>com.hd.oplayer</string>
                        <key>bundle-version</key>
                        <string>1.0</string>
                        <key>kind</key>
                        <string>software</string>
                        <key>title</key>
                        <string>Netflix</string>
                    </dict>
                </dict>
            </array>
        </dict>
    </plist>
